[submodule "ibm-saitohm-f90"]
	path = ibm-saitohm-f90
	url = https://github.com/mmsaito/ibm-saitohm-f90
[submodule "make-city"]
	path = make-city
	url = https://github.com/mmsaito/make-city
[submodule "run5-3b-big-take3"]
	path = run5-3b-big-take3
	url = https://github.com/mmsaito/run5-3b-big-take3
